
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html{
    height: 600vh;
    background-color: #f6f6f6;
   
}

/*munu*/

.container{
    max-width: 1280px;
    margin: auto;
}

.logo{
    color: #2C895F;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 30px 2%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 1000
    
    
}

header.rolagem{
    background: linear-gradient(135deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0));
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 4%;
}

header.rolagem a, header.rolagem i,header.rolagem .logo {
    color:#2C895F;
}

header i{
    font-size: 30px;
    color:#2C895F;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #2C895F;
    
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #1a772a;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

/*fim munu*/

/*tela inical*/

.flex-tela {
    display: flex;
    background-color: #f6f6f6;
    height: 100vh;
    justify-content: space-between;
}
.img-telaincial {
    padding: 0;
}
.text-container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 15%;
}
.text-container-login h1 {
    margin-bottom: 15px;
    font-size: 3rem;
    color: #2e7d32;
    font-family: "Scope One", serif;
}
.text-container-login p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
}
.btn-entrar {
    width: 100%; 
    padding: 10px 30px; 
    border: none;
    background-color: #2e7d32;
    color: white;
    font-size: 18px; 
    border-radius: 20px;
    cursor: pointer;
}
.text-container-login a {
    display: block;
    margin-top: 2px;
    text-align: center;
    color: #2e7d32;
    text-decoration: none;
    font-size: 20px;
}
.btn-pesquisar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
    margin-bottom: 30px;
}
.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2rem;
    border: 2px solid transparent;
    border-radius: 18px;
    outline: none;
    background-color: #f6f6f6;
    color: #0d0c22;
    transition: 0.3s ease;
}
.input::placeholder {
    color: #9e9ea7;
}
.input:focus,
.input:hover {
    outline: none;
    border-color: rgba(12, 182, 69, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(107, 240, 118, 0.1);
}
.icon {
    position: absolute;
    left: 9rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}
  
 

/*fim tela inical*/

/*tela 2*/

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
}

.contenttela2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.contenttela2 img {
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-containertela2 {
    max-width: 600px;
    text-align: center;
    font-size: 2.5em;
}

.text-containertela2 h2 {
   
    color: #4CAF50;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-family: "Scope One", serif;
    
  
}


.text-containertela2 p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.text-containertela2 .subtitle {
    margin-top: 20px;
    font-weight: bold;
}/*tela2*/

/*tela de adoçao*/
.carousel-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #83E4B8;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    color: #333;
    
  }

  
  .section-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
   
  }

  
  .section-title {
    text-align: center;
    width: 100%;
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #4CAF50;
    font-family: "Scope One", serif;
  }
  
  .search-filters {
    width: 100%;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 70%;
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
  }
  
  .search-bar input:focus {
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
    border-color: #4CAF50;
  }
  
  .search-bar .btn-pesquisar {
    margin-top: 29px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

  }
  .search-bar a{
    text-decoration: none;
    color: white;
  }

  
  .search-bar button:hover {
    background-color: #45a049;
  }
  
  .filters {
    display: flex;
    flex-direction: column;
  }
  
  .filters h3 {
    margin-bottom: 10px;
    color: #4CAF50;
  }
  
  .filters label {
    margin-bottom: 10px;
  }
  
  .filters input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .swiper {
    width: 50vw;
    height: 50vh;
    margin-left: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  
  .swiper-slide:hover img {
    transform: scale(1.05);
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #4CAF50;
  }
  
  .swiper-pagination-bullet {
    background: #4CAF50;
  }
  
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
/*fim de tela de adoçao*/
.flex-container-tela2 {
    background-color: #F6F6F6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text-container-tela2 h2 {
    color: #4CAF50;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Scope One", serif;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px 70px; 
    justify-items: center; 
}

.card {
    width: 150px;
    height: 150px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    overflow: hidden;
}

.card-front {
    background-color: #065022;
    border: 5px solid #11813c;
}

.card-back {
    background-color: #39aa43;
    border: 5px solid #297235;
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back p {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/*fim tela 2*/

/*tela 4*/

.flex-container-tela4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #83E4B8;
    

}

.text-container-tela4-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
    
}
.flex-tela4 h2{
    color: #2C895F;
    font-size: 2.8rem;
    font-family: "Scope One", serif;
    margin-right: 120px;
   
}

.flex-tela4 p{
    font-size: 18px;
    line-height: 1.6;
    color: #333;

}

#btn-apadrinhar{
    padding: 1.3em 3em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    color: #000;
    background: linear-gradient(135deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.103));
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}
.flex-tela4 a{
    text-decoration: none;

}
      
 button:hover {
   background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
 }
      
button:active {
    transform: translateY(-1px);
 }


.flex-tela4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}


.img-container-tela4 {
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 4%;
}

.img-container-tela4 img {
    max-height: 100%;
    max-width: 100%;
    
}
/*fim tela4*/

/*tela das ongs*/
.ongs {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2C895F;
    height: 80vh;
    padding-top: 20px; 
}

.ongs h1 {
    margin: 0; 
    padding-bottom: 20px; 
    font-family: "Scope One", serif;
}

.elementos-dentro {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 140px; 
    flex-wrap: wrap;
    margin-top: 30px;
}

.ongs-dentro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ongs-dentro img {
    object-fit: cover;
    width: 220px;
    height: 230px;
    margin: 10px 0;
    border-radius: 50%;
    border: 2px solid #2C895F;
}

.ongs-dentro p {
    margin-top: 10px;
    color: #2C895F;
    font-size: 18px;
}

/*fim de ongs*/

/*tela fim*/
.tela-fim{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: #2C895F;

  
}
.tela-fim h1, h2, h4{
    margin-bottom: 30px;
    
}
.elementos-texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 30px;
    
}
.tela-fim img{
    width: 2rem;
    height: 2rem;
    margin-right: 8px;
}

.tela-fim a{
    text-decoration: none;
    color: #2C895F
}

.tela-fim .elementos-texto-dentro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 10px 0; 
    color: #2C895F; 
    font-size: 18px;
 

} 
/*fim tela final*/